include ../mixins/head-title.pug
.section2
      .container
        +head-title("Có gì mới?", "Một số vật nuôi của chúng tôi", "Xem thêm")
        .section2__wrap
          .product-item
            .product-item__image
              img(
                alt="" 
                src="assets/images/image 1.jpg"
              )
            .product-item__content
              a.product-item__title(href="#") MO231 - Pomeranian Trắng
              .product-item__desc
                .product-item__gender
                  | Giống:
                  b Đực
                .product-item__separator
                .product-item__age
                  | Tuổi:
                  b 02 tháng
              .product-item__price 6.900.000 VND

          .product-item
            .product-item__image
              img(
                alt="" 
                src="assets/images/image 2.jpg"
              )
            .product-item__content
              a.product-item__title(href="#") MO502 - Poodle Tiny Vàng
              .product-item__desc
                .product-item__gender
                  | Giống:
                  b Đực
                .product-item__separator
                .product-item__age
                  | Tuổi:
                  b 02 tháng
              .product-item__price 3.900.000 VND

          .product-item
            .product-item__image
              img(
                alt="" 
                src="assets/images/image 3.jpg"
              )
            .product-item__content
              a.product-item__title(href="#") MO102 - Poodle Tiny Sepia
              .product-item__desc
                .product-item__gender
                  | Giống:
                  b Đực
                .product-item__separator
                .product-item__age
                  | Tuổi:
                  b 02 tháng
              .product-item__price 4.000.000 VND

          .product-item
            .product-item__image
              img(
                alt="" 
                src="assets/images/image 4.jpg"
              )
            .product-item__content
              a.product-item__title(href="#") MO512 - Alaskan Malamute
              .product-item__desc
                .product-item__gender
                  | Giống:
                  b Đực
                .product-item__separator
                .product-item__age
                  | Tuổi:
                  b 02 tháng
              .product-item__price 8.900.000 VND

          .product-item
            .product-item__image
              img(
                alt="" 
                src="assets/images/image 5.jpg"
              )
            .product-item__content
              a.product-item__title(href="#") MO231 - Pembroke Corgi
              .product-item__desc
                .product-item__gender
                  | Giống:
                  b Đực
                .product-item__separator
                .product-item__age
                  | Tuổi:
                  b 02 tháng
              .product-item__price 7.900.000 VND

          .product-item
            .product-item__image
              img(
                alt="" 
                src="assets/images/image 6.jpg"
              )
            .product-item__content
              a.product-item__title(href="#") MO502 - Pembroke Corgi
              .product-item__desc
                .product-item__gender
                  | Giống:
                  b Đực
                .product-item__separator
                .product-item__age
                  | Tuổi:
                  b 02 tháng
              .product-item__price 9.000.000 VND

          .product-item
            .product-item__image
              img(
                alt="" 
                src="assets/images/image 7.jpg"
              )
            .product-item__content
              a.product-item__title(href="#") MO231 - Pomeranian Trắng
              .product-item__desc
                .product-item__gender
                  | Giống:
                  b Đực
                .product-item__separator
                .product-item__age
                  | Tuổi:
                  b 02 tháng
              .product-item__price 6.500.000 VND

          .product-item
            .product-item__image
              img(
                alt="" 
                src="assets/images/image 8.jpg"
              )
            .product-item__content
              a.product-item__title(href="#") MO512 - Poodle Tiny
              .product-item__desc
                .product-item__gender
                  | Giống:
                  b Đực
                .product-item__separator
                .product-item__age
                  | Tuổi:
                  b 02 tháng
              .product-item__price 5.000.000 VND

        .section2__button-bottom
          a.button(href="#")
            | Xem thêm
            i.fa-solid.fa-chevron-right